.botaoOrdena {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    margin: 10px;
}

.botaoOrdena:hover {
    background-color: #555555;
    /* Green */
    color: white;
}

.geral {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.horizontal-slider {
    width: 100%;
    max-width: 500px;
    height: 100vh;
    margin: auto;
}

.example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: 5px solid #3774ff;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.example-thumb.active {
    background-color: grey;
}

.example-track {
    position: relative;
    background: #ddd;
}

.example-track.example-track-0 {
    background: #83a9ff;
}

.horizontal-slider .example-track {
    top: 20px;
    height: 4px;
}

.horizontal-slider .example-thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
}